:root {
  /* For Apple */
  --backdrop-filter: saturate(180%) blur(20px);
  --columns: 1;
  --content-height: 692px;
  --gutter-width: 12px;
  --nav-height: 44px;
}

@media screen and (max-width: 1068px) {
  :root {
    --content-height: 650px;
  }
}

@media only screen and (max-width: 734px) {
  :root {
    --content-height: 500px;
  }
}

@media screen and (max-width: 1068px) and (min-width: 735px) and (max-height: 733px) and (min-height: 0px) {
  :root {
    --content-height: 569px;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */
::selection {
  /* background: var(--color-primary); */
  color: #fff;
}

html {
  font-size: 62.5%;
}

img {
  width: 100%;
}

body {
  color: rgb(29, 29, 31);
  display: block;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.47059;
  margin: 0;
  min-width: 320px;
  padding: 0;
}

ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
p,
blockquote,
figure,
form,
fieldset,
input,
legend,
pre,
abbr,
button {
  margin: 0;
  padding: 0;
}

/* Navigation Bar */
.nav {
  display: flex;
  /* flex-wrap: wrap; */
}
.nav-bg {
  position: fixed;
  z-index: 9999;
  margin: 0 auto;
  backdrop-filter: var(--backdrop-filter);
  background: rgba(22, 22, 23, 0.8);
  display: flex;
  /* flex-wrap: wrap; */
  padding: 0 1.6rem;
  justify-content: center;
  width: 100%;
}
.nav-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  height: var(--nav-height);
  max-width: 1024px;
  font-size: 1.2rem;
}

@media only screen and (max-width: 833px) {
  :root {
    --nav-height: 48px;
  }
}

.nav__list {
  width: 100%;
  margin: 0;
}

.nav__item > a {
  padding: 0 1rem;
  color: #d2d0db;
  transition: color 0.3s;
}

.nav__item > a:hover {
  color: #fff;
}

@media only screen and (max-width: 834px) {
  .nav_hidden {
    display: none;
  }
  .nav-content {
    justify-content: flex-end;
    transition: justify-content 0.4s;
  }
}

/* Lists */

.list {
  list-style: none;
  padding-left: 0;
}

/* Links */
a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:visited .footnote {
  color: #06c;
}

a .footnote {
  color: #06c;
}
/* Icons */

.icon {
  height: 1.6rem;
  width: 1.6rem;
  fill: #dadada;
  transition: fill 0.3s;
}

.icon:hover {
  fill: #fff;
}

/* Main Body */
.main {
  padding-top: var(--nav-height);
  max-width: 2560px;
  position: relative;
  margin: 0 auto;
  width: 100%;
}

.data-module-template,
.data-unit-id {
  position: relative;
}

/* Themes */
.theme-dark {
  background-color: rgb(0, 0, 0);
  color: rgb(245, 245, 247);
}

.theme-dark a {
  color: #2997ff;
}

/* Ribbon */

.ribbon {
  height: auto;
  text-align: center;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.ribbon-text {
  font-size: 1.4rem;
  display: inline-block;
  margin: 0;
  padding: 1rem 0;
}

.ribbon-content {
  box-sizing: content-box;
}

@media only screen and (max-width: 734px) {
  .ribbon {
    height: auto;
  }

  .ribbon-content {
    width: 87.5%;
    max-width: 405px;
  }
}

/* Links */
.links {
  color: #06c;
  letter-spacing: 0.05rem;
}

.links:hover {
  text-decoration: underline;
}

.unit-links {
  margin-top: 1.36rem;
  font-size: 2.1rem;
  line-height: 1.4;
  font-weight: 500;
  display: inline-block;
}

@media only screen and (max-width: 1068px) {
  .unit-links {
    font-size: 1.9rem;
    margin-top: 1.406rem;
  }
}

@media only screen and (max-width: 734px) {
  .unit-links {
    font-size: 1.7rem;
    margin-top: 1.19rem;
  }
}

.unit-copy-wrapper > *.unit-links a:not(:only-child):not(:first-child) {
  margin-left: 3.5rem;
}

@media only screen and (max-width: 1068px) {
  .unit-copy-wrapper > *.unit-links a:not(:only-child):not(:first-child) {
    margin-left: 3.2rem;
  }
}

@media only screen and (max-width: 734px) {
  .unit-copy-wrapper > *.unit-links a:not(:only-child):not(:first-child) {
    margin-left: 2.7rem;
  }
}

.icon-chevronRight::after {
  content: ">";
  padding-left: 0.5rem;
  text-decoration: none;
}
.icon-chevronRight::after:hover {
  text-decoration: none;
}

/* Heroes */

#iphone-14-pro {
  position: relative;
  top: 0;
  margin-bottom: -5.6rem;
  height: auto;
  width: 100%;
}

@media only screen and (max-width: 834px) {
  #iphone-14-pro {
    margin-bottom: -6rem;
  }
}

.heroes .module-content {
  padding-top: var(--nav-height);
  width: 100%;
  max-width: 2560px;
  height: var(--content-height);
  position: relative;
}

.heroes {
  border-bottom: 1.2rem solid #fff;
  width: 100%;
  z-index: 41;
}

.hero-grid {
  max-width: 2560px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: var(--gutter-width);
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}
.heroes .headline {
  font-size: 5.6rem;
  line-height: 1.07143;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-align: center;
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

@media only screen and (max-width: 1068px) {
  .heroes .headline {
    font-size: 4.8rem;
  }
}

@media only screen and (max-width: 734px) {
  .heroes .headline {
    font-size: 3.2rem;
  }
}

.theme-dark h1,
.theme-dark h2,
.theme-dark h3,
.theme-dark h4,
.theme-dark h5,
.theme-dark h6 {
  color: #ffffff;
}

.heroes .subhead {
  margin-top: 0.6rem;
  font-size: 2.8rem;
  line-height: 1.10722;
  font-weight: 400;
  letter-spacing: 0.06rem;
}

@media only screen and (max-width: 1068px) {
  .heroes .subhead {
    font-size: 2.4rem;
    margin-top: 0.5rem;
  }
}

@media only screen and (max-width: 734px) {
  .heroes .subhead {
    font-size: 1.9rem;
    margin-top: 0.4rem;
  }
}

/* Unit Copy */

.unit-wrapper {
  display: flex;
  flex-direction: column;
  height: var(--content-height);
  overflow: hidden;
  position: relative;
  top: -44px;
  width: 100%;
}

@media only screen and (max-width: 834px) {
  .unit-wrapper {
    top: -48px;
  }
}

.unit-copy-wrapper {
  width: 100%;
  z-index: 4;
  padding-top: 55px;
  text-align: center;
}

@media only screen and (max-width: 1068px) {
  .unit-copy-wrapper {
    padding-top: 53px;
  }
}

@media only screen and (max-width: 1068px) and (min-width: 735px) and (min-height: 734px) {
  .unit-copy-wrapper {
    padding-top: 61px;
  }
}

@media only screen and (max-width: 734px) {
  .unit-copy-wrapper {
    padding-top: 37px;
  }
}

/* Unit Image */
.unit-wrapper .unit-image-wrapper {
  z-index: 1;
  overflow: visible;
  flex-grow: 1;
}

.unit-image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.unit-image {
  z-index: 1;
  position: absolute;
  border: 0;
  margin: 0;
  padding: 0;
  left: calc(50% + 0px);
  right: auto;
  top: -44px;
  transform: translatex(-50%);
}

@media only screen and (max-width: 734px) {
  .unit-image {
    top: -48px;
  }
}

/* iPhone 14 Pro */

.unit-image.unit-image-iphone-14-pro-hero-iphone14pro-spring {
  width: 3008px;
  height: 736px;
  background-size: 3008px 736px;
  background-repeat: no-repeat;
  background-image: url("/APPLE.com/images/units/hero_iphone14pro_spring__9xo85pm6sbmm_largetall.jpg");
}

@media screen and (max-width: 1068px) {
  .unit-image.unit-image-iphone-14-pro-hero-iphone14pro-spring {
    width: 1068px;
    height: 617px;
    background-size: 1068px 617px;
    background-repeat: no-repeat;
    background-image: url("/APPLE.com/images/units/hero_iphone14pro_spring__9xo85pm6sbmm_medium.jpg");
  }
}

@media screen and (max-width: 734px) {
  .unit-image.unit-image-iphone-14-pro-hero-iphone14pro-spring {
    width: 734px;
    height: 548px;
    background-size: 734px 548px;
    background-repeat: no-repeat;
    background-image: url("/APPLE.com/images/units/hero_iphone14pro_spring__9xo85pm6sbmm_small.jpg");
  }
}

@media only screen and (max-width: 1068px) and (min-width: 735px) and (min-height: 734px) {
  .unit-image.unit-image-iphone-14-pro-hero-iphone14pro-spring {
    width: 1068px;
    height: 694px;
    background-size: 1068px 694px;
    background-repeat: no-repeat;
    background-image: url("/APPLE.com/images/units/hero_iphone14pro_spring__9xo85pm6sbmm_mediumtall.jpg");
  }
}

/* iPhone 14 */

.unit-image.unit-image-iphone-14-hero-iphone14-yellow {
  width: 3008px;
  height: 736px;
  background-size: 3008px 736px;
  background-repeat: no-repeat;
  background-image: url("/APPLE.com/images/units/hero_iphone14_yellow__eun20sn4imi6_largetall.jpg");
}

@media screen and (max-width: 1068px) {
  .unit-image.unit-image-iphone-14-hero-iphone14-yellow {
    width: 1068px;
    height: 617px;
    background-size: 1068px 617px;
    background-repeat: no-repeat;
    background-image: url("/APPLE.com/images/units/hero_iphone14_yellow__eun20sn4imi6_medium.jpg");
  }
}

@media screen and (max-width: 734px) {
  .unit-image.unit-image-iphone-14-hero-iphone14-yellow {
    width: 734px;
    height: 548px;
    background-size: 734px 548px;
    background-repeat: no-repeat;
    background-image: url("/APPLE.com/images/units/hero_iphone14_yellow__eun20sn4imi6_small.jpg");
  }
}

@media only screen and (max-width: 1068px) and (min-width: 735px) and (min-height: 734px) {
  .unit-image.unit-image-iphone-14-hero-iphone14-yellow {
    width: 1068px;
    height: 694px;
    background-size: 1068px 694px;
    background-repeat: no-repeat;
    background-image: url("/APPLE.com/images/units/hero_iphone14_yellow__eun20sn4imi6_mediumtall.jpg");
  }
}

/* Watch 8 */

.unit-image.unit-image-apple-watch-series-8-hero-apple-watch-series-8-spring {
  width: 3008px;
  height: 736px;
  background-size: 3008px 736px;
  background-repeat: no-repeat;
  background-image: url("/APPLE.com/images/units/hero_apple_watch_series_8_spring__b1y8wb7xjc9y_largetall.jpg");
}

@media screen and (max-width: 1068px) {
  .unit-image.unit-image-apple-watch-series-8-hero-apple-watch-series-8-spring {
    width: 1068px;
    height: 617px;
    background-size: 1068px 617px;
    background-repeat: no-repeat;
    background-image: url("/APPLE.com/images/units/hero_apple_watch_series_8_spring__b1y8wb7xjc9y_medium.jpg");
  }
}

@media screen and (max-width: 734px) {
  .unit-image.unit-image-apple-watch-series-8-hero-apple-watch-series-8-spring {
    width: 734px;
    height: 548px;
    background-size: 734px 548px;
    background-repeat: no-repeat;
    background-image: url("/APPLE.com/images/units/hero_apple_watch_series_8_spring__b1y8wb7xjc9y_small.jpg");
  }
}

@media only screen and (max-width: 1068px) and (min-width: 735px) and (min-height: 734px) {
  .unit-image.unit-image-apple-watch-series-8-hero-apple-watch-series-8-spring {
    width: 1068px;
    height: 694px;
    background-size: 1068px 694px;
    background-repeat: no-repeat;
    background-image: url("/APPLE.com/images/units/hero_apple_watch_series_8_spring__b1y8wb7xjc9y_mediumtall.jpg");
  }
}

/* Series 8 */
.logo-image {
  margin: 0 auto;
}
.visuallyhidden {
  position: absolute;
  /* clip: rect(1px, 1px, 1px, 1px); */
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

.logo-image-apple-watch-series-8-hero-logo-apple-watch-series-8 {
  width: 190px;
  height: 72px;
  background-size: 190px 72px;
  background-repeat: no-repeat;
  background-image: url("/APPLE.com/images/logo-images/hero_logo_apple_watch_series_8__ezarmmoobhg2_large.png");
  background-position: center;
}

@media only screen and (max-width: 1068px) {
  .logo-image-apple-watch-series-8-hero-logo-apple-watch-series-8 {
    width: 160px;
    height: 61px;
    background-size: 160px 61px;
    background-repeat: no-repeat;
    background-image: url("/APPLE.com/images/logo-images/hero_logo_apple_watch_series_8__ezarmmoobhg2_medium.png");
  }
}

@media only screen and (max-width: 734px) {
  .logo-image-apple-watch-series-8-hero-logo-apple-watch-series-8 {
    width: 109px;
    height: 42px;
    background-size: 109px 42px;
    background-repeat: no-repeat;
    background-image: url("/APPLE.com/images/logo-images/hero_logo_apple_watch_series_8__ezarmmoobhg2_small.png");
  }
}

/* PROMOS */

.promos {
  --background-color: #fbfbfd;
  position: relative;
  max-width: 2560px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: var(--gutter-width);
  z-index: 40;
}

@media only screen and (max-width: 734px) {
  .promos {
    grid-template-columns: repeat(1, 1fr);
    /* grid-template-rows: repeat(6, 1fr); */
  }
}

@media screen and (max-width: 1440px) and (min-width: 1069px) {
  .promos .module-content {
    height: 580px;
  }
}

@media screen and (max-width: 1068px) and (min-width: 735px) {
  .promos .module-content {
    height: 490px;
  }
}

@media screen and (max-width: 1441000px) and (min-width: 1441px) {
  .promos .module-content {
    height: 580px;
  }
}

@media screen and (max-width: 734px) and (min-width: 0px) {
  .promos .module-content {
    height: 500px;
  }
}

@media screen and (max-width: 1440px) and (min-width: 1069px) {
  .promos {
    --columns: 2;
    --content-height: 580px;
    --double-edge-border-width: 24px;
    --edge-border-width-fallback: 12px;
    --edge-border-width: 12px;
    --gutter-and-half-width: 18px;
    --gutter-color: #fff;
    --gutter-half-width: 6px;
    --gutter-width: 12px;
    --text-color: #1d1d1f;
  }
}

@media screen and (max-width: 1068px) and (min-width: 735px) {
  .promos {
    --columns: 2;
    --content-height: 490px;
    --double-edge-border-width: 24px;
    --edge-border-width-fallback: 12px;
    --edge-border-width: 12px;
    --gutter-and-half-width: 18px;
    --gutter-color: #fff;
    --gutter-half-width: 6px;
    --gutter-width: 12px;
    --text-color: #1d1d1f;
  }
}

@media screen and (max-width: 1441000px) and (min-width: 1441px) {
  .promos {
    --columns: 2;
    --content-height: 580px;
    --double-edge-border-width: 24px;
    --edge-border-width-fallback: 12px;
    --edge-border-width: 12px;
    --gutter-and-half-width: 18px;
    --gutter-color: #fff;
    --gutter-half-width: 6px;
    --gutter-width: 12px;
    --text-color: #1d1d1f;
  }
}

@media screen and (max-width: 734px) and (min-width: 0px) {
  .promos {
    --columns: 1;
    --content-height: 500px;
    --double-edge-border-width: 0px;
    --edge-border-width-fallback: 0px;
    --edge-border-width: 0px;
    --gutter-and-half-width: 18px;
    --gutter-color: #fff;
    --gutter-half-width: 6px;
    --gutter-width: 12px;
    --text-color: #1d1d1f;
  }
}

/* Indexes */

.data-module-template:nth-child(42),
.data-unit-id:nth-child(42) {
  z-index: 1;
}

.data-module-template:nth-child(41),
.data-unit-id:nth-child(41) {
  z-index: 2;
}

.data-module-template:nth-child(40),
.data-unit-id:nth-child(40) {
  z-index: 3;
}

.data-module-template:nth-child(39),
.data-unit-id:nth-child(39) {
  z-index: 4;
}

.data-module-template:nth-child(38),
.data-unit-id:nth-child(38) {
  z-index: 5;
}

.data-module-template:nth-child(37),
.data-unit-id:nth-child(37) {
  z-index: 6;
}

.data-module-template:nth-child(36),
.data-unit-id:nth-child(36) {
  z-index: 7;
}

.data-module-template:nth-child(35),
.data-unit-id:nth-child(35) {
  z-index: 8;
}

.data-module-template:nth-child(34),
.data-unit-id:nth-child(34) {
  z-index: 9;
}

.data-module-template:nth-child(33),
.data-unit-id:nth-child(33) {
  z-index: 10;
}

.data-module-template:nth-child(32),
.data-unit-id:nth-child(32) {
  z-index: 11;
}

.data-module-template:nth-child(31),
.data-unit-id:nth-child(31) {
  z-index: 12;
}

.data-module-template:nth-child(30),
.data-unit-id:nth-child(30) {
  z-index: 13;
}

.data-module-template:nth-child(29),
.data-unit-id:nth-child(29) {
  z-index: 14;
}

.data-module-template:nth-child(28),
.data-unit-id:nth-child(28) {
  z-index: 15;
}

.data-module-template:nth-child(27),
.data-unit-id:nth-child(27) {
  z-index: 16;
}

.data-module-template:nth-child(26),
.data-unit-id:nth-child(26) {
  z-index: 17;
}

.data-module-template:nth-child(25),
.data-unit-id:nth-child(25) {
  z-index: 18;
}

.data-module-template:nth-child(24),
.data-unit-id:nth-child(24) {
  z-index: 19;
}

.data-module-template:nth-child(23),
.data-unit-id:nth-child(23) {
  z-index: 20;
}

.data-module-template:nth-child(22),
.data-unit-id:nth-child(22) {
  z-index: 21;
}

.data-module-template:nth-child(21),
.data-unit-id:nth-child(21) {
  z-index: 22;
}

.data-module-template:nth-child(20),
.data-unit-id:nth-child(20) {
  z-index: 23;
}

.data-module-template:nth-child(19),
.data-unit-id:nth-child(19) {
  z-index: 24;
}

.data-module-template:nth-child(18),
.data-unit-id:nth-child(18) {
  z-index: 25;
}

.data-module-template:nth-child(17),
.data-unit-id:nth-child(17) {
  z-index: 26;
}

.data-module-template:nth-child(16),
.data-unit-id:nth-child(16) {
  z-index: 27;
}

.data-module-template:nth-child(15),
.data-unit-id:nth-child(15) {
  z-index: 28;
}

.data-module-template:nth-child(14),
.data-unit-id:nth-child(14) {
  z-index: 29;
}

.data-module-template:nth-child(13),
.data-unit-id:nth-child(13) {
  z-index: 30;
}

.data-module-template:nth-child(12),
.data-unit-id:nth-child(12) {
  z-index: 31;
}

.data-module-template:nth-child(11),
.data-unit-id:nth-child(11) {
  z-index: 32;
}

.data-module-template:nth-child(10),
.data-unit-id:nth-child(10) {
  z-index: 33;
}

.data-module-template:nth-child(9),
.data-unit-id:nth-child(9) {
  z-index: 34;
}

.data-module-template:nth-child(8),
.data-unit-id:nth-child(8) {
  z-index: 35;
}

.data-module-template:nth-child(7),
.data-unit-id:nth-child(7) {
  z-index: 36;
}

.data-module-template:nth-child(6),
.data-unit-id:nth-child(6) {
  z-index: 37;
}

.data-module-template:nth-child(5),
.data-unit-id:nth-child(5) {
  z-index: 38;
}

.data-module-template:nth-child(4),
.data-unit-id:nth-child(4) {
  z-index: 39;
}

.data-module-template:nth-child(3),
.data-unit-id:nth-child(3) {
  z-index: 40;
}

.data-module-template:nth-child(2),
.data-unit-id:nth-child(2) {
  z-index: 41;
}

.data-module-template:nth-child(1),
.data-unit-id:nth-child(1) {
  z-index: 42;
}
